---
import Layout from '@layouts/Layout.astro';
import Category from '@components/category.astro';
import fetchLinksData from '@/libs/getLinksData';

const categories = await fetchLinksData('categories');
---

<Layout title="Useful Links | Action Station">
	<main class="mx-5">
		<h1 class="text-5xl font-bold text-center py-2 my-10">Useful Links</h1>
		<p class="text-center my-6 mx-auto max-w-[800px]">
			Explore our curated list of essential links, offering quick access to a
			variety of tools, resources, and applications. Whether you're looking for
			productivity apps, learning platforms, or useful online services, this
			page has everything you need in one convenient place.
		</p>
		<ul
			class="max-w-[1200px] mx-auto grid grid-cols-[repeat(auto-fit,_minmax(200px,_1fr))] place-content-center justify-items-stretch gap-x-10 gap-y-20"
		>
			{
				categories
					.filter((category) => parseInt(category.children) > 0)
					.map((category) => {
						return (
							<Category
								title={category.title}
								icon={category.icon}
							/>
						);
					})
			}
		</ul>
	</main>
</Layout>
