---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Welcome to Action station.">
	<main>
		<h1 class="text-5xl font-bold text-center mt-20">Action Station</h1>
    <h2 class="text-3xl font-bold text-center">Secondary Web Page</h2>
		<p class="text-center my-20 mx-auto max-w-[900px] text-xl text-pretty">
			This is not the main website. But still being an official action station
			webpage.
		</p>
	</main>
</Layout>

<style></style>
