---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Welcome to Action station.">
    <nav><ul>
        <li><a class="underline text-blue-500 font-bold" href="/useful-links">Useful Links</a></li>
    </ul></nav>
	<main>
	<h1>Action Station</h1>
    <p>This is not the main website. But still being an official action station webpage.</p>
	</main>
</Layout>

<style>
	</style>
