---
import Layout from '../layouts/Layout.astro';
import Category from '../components/category.astro';

const categoriesURL =
	'https://docs.google.com/spreadsheets/d/e/2PACX-1vTsyfvS7LXU9JDMcWLVxJ6T2ekONhhktT-2DtY2uJbdcFFQT0-RpOtLYv-TD11KTle-2RPcfttYK6Py/pub?gid=707361259&single=true&output=csv';
const categoriesRes = await fetch(categoriesURL);
const categoriesRaw = await categoriesRes.text();
const categoriesRows = categoriesRaw.split('\n');
const categoriesHeaders = categoriesRows.shift();
const categories = categoriesRows.map((row) => {
	const [title, iconText] = row.split(',');
   
	const iconTrimmed = iconText.trim();
	const iconOutOfQuotes = iconTrimmed.substring(1, iconTrimmed.length - 1);
	const icon = iconOutOfQuotes.replaceAll('""', '"');
	const category = {
		title,
		icon
	};
	return category;
});

const linksURL =
	'https://docs.google.com/spreadsheets/d/e/2PACX-1vTsyfvS7LXU9JDMcWLVxJ6T2ekONhhktT-2DtY2uJbdcFFQT0-RpOtLYv-TD11KTle-2RPcfttYK6Py/pub?output=csv';
const linksRes = await fetch(linksURL);
const linksRaw = await linksRes.text();
const linksRows = linksRaw.split('\n');
const linksHeaders = linksRows.shift();
const links = linksRows.map((row) => {
	const cells = row.split(',');
	const link = {
		title: cells[0],
		url: cells[1],
		description: cells[2],
		category: cells[3],
		icon: cells[4].replace('\r', '')
	};
	return link;
});
---

<Layout title="Useful Links | Action Station">
	<main>
		<h1 class="text-5xl font-bold text-center py-7">Useful Links</h1>
		<section class="max-w-[1200px] mx-auto">
			{
				categories.map((category) => {
					if (!links.some((link) => link.category === category.title)) return;

					return (
						<Category
							title={category.title}
							icon={category.icon}
							links={links.filter((link) => link.category === category.title)}
						/>
					);
				})
			}
		</section>
	</main>
</Layout>
