---
interface Props {
	title: string;
	icon: string;
}

const { title, icon} = Astro.props;
import UsefulLink from './useful-link.astro';
import { parseHTML } from 'linkedom';
const { document } = parseHTML(icon);
const $icon = document.querySelector('svg');

if ($icon) {
	$icon.removeAttribute('width');
	$icon.removeAttribute('height');
	$icon.classList.add('w-12', 'inline', 'text-blue-500');
}
---
<a href=`/useful-links/${encodeURI(title)}`>

    <li class="text-blue-500 flex flex-col items-center  gap-3 bg-gray-200 p-5 rounded-md w-[200px]">
        <fragment set:html={$icon} />
        <h2 class="text-3xl font-bold">
            {title}
        </h2>
     
            </li>
        </a>
