---
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Action station" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<title>{title}</title>
	</head>
	<body>
        <header class="py-5 px-3 flex justify-center">
            <a href="/">
            <img class="w-full min-w-[200px] max-w-[300px]" src="/action-station-logo.svg" alt="Action Station logo"></a>
        </header>
        <div class="pb-6">
            <slot />
        </div>
        <footer class="py-5 mt-20">
            <p class="text-center"> <a href="https://actionstation.org.uk">www.actionstation.org.uk | Action Station Official Website</a></p>
            <p class="text-center">Made with ❤️ by <a href="https://github.com/joanbric">joanbric</a></p>
        </footer>
	</body>
</html>
<style is:global>
	:root {
		--accent: 136, 58, 234;
		--accent-light: 224, 204, 250;
		--accent-dark: 49, 10, 101;
		--accent-gradient: linear-gradient(
			45deg,
			rgb(var(--accent)),
			rgb(var(--accent-light)) 30%,
			white 60%
		);
	}
	html {
		font-family: system-ui, sans-serif;
	}

</style>
